<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>resume template</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>
    <!-- TODO 更新資料請到 data.js -->
    <div id="app" class="wrap">
        <div class="aside">
            <div class="userImg">
                <img src="http://fakeimg.pl/200x200" alt="個人形象照">
            </div>
            <h1 class="name">{{ twName }} | {{ enName }}</h1>
            <h4 class="jobTitle">{{ jobTitle }}</h4>
            <span class="address"><i class="fa-solid fa-location-dot"></i>{{ address }}</span>
            <p class="about">{{ about }}</p>
            <ul class="contact">
                <li class="contact_item">
                    <i class="fa-solid fa-envelope"></i>
                    <span>{{ email }}</span>
                </li>
                <li class="contact_item">
                    <i class="fa-solid fa-phone"></i>
                    <span>{{ tel }}</span>
                </li>
                <li class="contact_item">
                    <i class="fa-brands fa-github"></i>
                    <a :href="website" target="_blank">{{ website }}</a>
                </li>
            </ul>
        </div>
        <div class="main">
            <div class="section prominent">
                <h2><i class="fa-solid fa-bolt"></i>個人事蹟</h2>
                <ul>
                    <li v-for="prominent in prominents">{{ prominent }}</li>
                </ul>
            </div>
            <div class="section experience">
                <h2><i class="fa-solid fa-briefcase"></i>工作經驗</h2>
                <div class="experience_item" v-for="exp in experience">
                    <h3>{{ exp.name }}</h3>
                    <span>{{ exp.startDate }} - {{ exp.endDate }}</span>
                    <h5>{{ exp.jobTitle }}</h5>
                    <p v-html="exp.content"></p>
                </div>
            </div>
            <div class="section skills">
                <h2><i class="fa-solid fa-tree"></i>專業技能</h2>
                <div class="skill_item" v-for="skill in skills">
                    <h3>{{ skill.title }}</h3>
                    <ul>
                        <li v-for="list in skill.group">{{ list }}</li>
                    </ul>
                </div>
                <ul>
                    <li v-for="icon in skillIcons"><img :src="icon" alt=""></li>
                </ul>
            </div>
            <div class="section education">
                <h2><i class="fa-solid fa-book"></i>學歷</h2>
                <div class="education_item" v-for="edu in education">
                    <div class="icon"><i class="fa-solid fa-user-graduate"></i></div>
                    <h3>{{ edu.name }}</h3>
                    <span>{{ edu.major }} | {{ edu.degree }}</span>
                    <span>{{ edu.startDate }} - {{ edu.endDate }}</span>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.30/dist/vue.global.prod.js"></script>
    <script src="data.js"></script>
</body>

</html>